@font-face {
    font-family: Helvetica;
    src: url(../font/Helvetica.ttf);
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.container {
    width: 84.5%;
    height: 150vh;
    /* background-color: aquamarine; */
    margin-left: auto;
    right: 0;
    /* display: flex; */
}
.container h1 {
    margin-top: 10px;
    margin-left: 30px;
    font-family: var(--name-font);
    position: relative;
}
.wrapper {
    width: 58%;
    height: 300px;
    background-color: white;
    box-shadow: rgba(99, 99, 99, 0.2) 0px 2px 8px 0px;
    margin-left: 30px;
    margin-top: 2%;
    display: flex;
}
.img-container {
    width: 300px;
    height: 300px;
    /* background-color: wheat; */
}
.info-product {
    width: 400px;
    height: 300px;
    /* background-color: tomato; */
    margin-left: 20px;
}
#hide {
    display: none;
}

.lining {
    position: relative;
    width: 15px;
    height: 3px;
    background-color: white;
    transform: rotate(45deg);
    top: 0;
}
.lining::before {
    position: absolute;
    width: 15px;
    height: 3px;
    background-color: white;
    top: 0;
    transform: rotate(-90deg);
    content: '';
}
.info-product h1{
    margin-left: 30px;
    margin-top: 20px;
    font-family: "Helvetica";
    font-weight: 500;
    font-size: 26px;
}
.info-product h3 {
    margin-left: 30px;
    /* font-family: var(--font-name); */
}

.color-container {
    display: flex;
}
.color {
    width: 50px;
    height: 30px;
    background-color: thistle;
    margin-left: 10px;
    margin-top: 20px;
    position: relative;
    left: 5%;
    cursor: pointer;
    border-radius: 5px;
}
.wrapper.active {
    width: 80%;
}

.btns {
    display: flex;
    flex-direction:column;
    width: 200px;
    height: 300px;
    /* background-color: teal; */
}
.btns button{
    width: 120px;
    /* display: flex; */
    margin-top: 20px;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline:none;
    color: white;
    font-family: var(--name-font);
    margin-left: auto;
    margin-right: auto;
    cursor: pointer;
}
.interactionsBtns {
    width: 400px;
    height: 300px;
    /* background-color: blueviolet; */
    display: none;
}
.interactionsBtns.active {
    display: block;
}
.btn-type {
    margin-top: 20px;
    display: flex;
    justify-content: center;
}
.btn-type button {
    margin-left: 5px;
    width: 120px;
    height: 30px;
    border-radius: 5px;
    border: none;
    outline: none;
    color: white;
    cursor: pointer;
}
.interactionsBtns input {
    margin-left: 3em;
    width: 300px;
    margin-top: 2em;
    height: 40px;
    border-radius: 10px;
    outline: none;
    border: none;
    background-color: #f1f1f1;
}
.interactionsBtns input[type = 'text']{
    padding-left: 20px;
}
#added {
    display: none;
}
#removed {
    display: none;
}
#modified {
    display: none;
}

#added.active {
    display: block;
}
#removed.active {
    display: block;
}
#modified.active {
    display: block;
}