@font-face {
    font-family: Helvetica;
    src: url(/font/Helvetica.ttf);
}
@import url('https://fonts.googleapis.com/css2?family=Poppins:wght@500&family=Roboto+Mono:wght@500&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Roboto+Mono:wght@500&display=swap');
:root {
    --primary-font: 'Roboto Mono';
    --secondary-font: 'Poppins';
    --name-font: 'Helvetica';
}
* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

.products-container {
    width: 84%;
    height: 92%;
    /* background-color:tomato; */
    position: absolute;
    right: 0;
}
.table-content {
    position: absolute;
    top: 5%;
    width: 95%;
}

.container-table  {
    padding-right: 50px;
    position: relative;
} 
.table-content h1 {
    margin-left: 20px;
    font-family: var(--secondary-font);
    font-weight: 500;
}

@media only screen and (max-width: 480px){
    body {
        width: 480px;
    }
    .products-container {
        width: 480px;
        left: 0;
    }
    .table-content {
        position: absolute;
        height: 500px;
        left: -5%;
        margin-top: 10%;
    }
    .action-list {
        display: flex;
        justify-content: center;
    }
    .action-list h1 {
        margin-top: 20px;
    }

/* Note: Design for a width of 768px */
    /* .products-container {
        width: 760px;
        left: 0;
        height: 900px;
    } */
    .table-content {
        left: -3%;
        margin-top: 5%;
    }
    .action-list {
        display: flex;
        justify-content: center;
    }
    .action-list h1 {
        margin-top: 20px;
    }
}



@media only screen and (min-width: 768px) and (max-width: 959px) {
    .products-container {
        width: 780px;
    }
    .action-list {
        position: absolute;
        top: 15%;
        margin-left: 30px;
    }
}